<body>
  <div class="logo-container">
    <img src="./assets/capacash-logo.png" alt="CapaCash Logo">
    <div class="h2_header">
      <p>Reset Password</p>
    </div>
  </div>

  <div class="login-container">
    <div class="login-content">
      <div class="inputField">
        <ion-item>
          <ion-input type="password" label="New Password: " placeholder="Enter new password"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="password" label="Confirm Password: " placeholder="Confirm new password"></ion-input>
        </ion-item>
      </div>

      <button class="resetBtn" (click)="resetPassword()">Reset Password</button>
    </div>
  </div>
</body>
