<body>
  <div class="logo-container">
    <img src="./assets/capacash-logo.png" alt="CapaCash Logo">
    <div class="h2_header">
      <p>Forgot Password</p>
    </div>
  </div>

  <div class="login-container">
    <div class="login-content">
      <div class="inputField">
        <ion-item>
          <ion-input label="Email" labelPlacement="stacked" placeholder="Enter Email"></ion-input>
        </ion-item>
      </div>

      <button class="loginBtn" id="present-alert">Send Code</button>
      <ion-alert
        trigger="present-alert"
        header="Please enter the code we've sent"
        [buttons]="alertButtons"
        [inputs]="alertInputs"
      ></ion-alert>
    </div>
  </div>
</body>
